{% extends '_default/list.html.twig' %}

         {% block content %}
             <h1>Our projects</h1>
             <div class="post-list post-list_columns">
                 {%- for project in pages ~%}
                     {% include 'partials/list-project.html.twig' with {'project': project} only %}
                 {%- endfor ~%}
             </div>
         {% endblock content %}