{% extends '_default/list.html.twig' %}

         {% block content %}
             <h1>Our projects</h1>

             {%- for project in pages ~%}
                 {% include 'partials/list-project.html.twig' with {'project': project} only %}
             {%- endfor ~%}

         {% endblock content %}