{% extends '_default/page.html.twig' %}

            {%- block content ~%}
              <h1>{{ page.title|e }}</h1>
          
                {{ page.content }}
         
            {%- endblock content ~%}